<a href="https://colab.research.google.com/github/csmsum/dl4img/blob/main/dl4cloud.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [71]:
import numpy as np 
import pandas as pd
import os
import cv2
import matplotlib.pyplot as plt
from matplotlib import patches as patches
import seaborn as sns

In [78]:
train_label = pd.read_csv("/content/gdrive/MyDrive/dl4img/understanding_cloud_organization/train.csv")
train_label['img'] = pd.DataFrame(map(tuple, train_label["Image_Label"].str.split("_"))).iloc[:,0]
train_label['cat'] = pd.DataFrame(map(tuple, train_label["Image_Label"].str.split("_"))).iloc[:,1]
train_label.drop(columns = ['Image_Label'], inplace = True)
train_label['Label_EncodedPixels'] = train_label.apply(lambda row: (row['cat'], row['EncodedPixels']), axis = 1)
train_label.set_index(['img', 'cat'], inplace = True)
train_label.head(10)

                                                        EncodedPixels  \
img         cat
0011165.jpg Fish    264918 937 266318 937 267718 937 269118 937 27...
            Flower  1355565 1002 1356965 1002 1358365 1002 1359765...
            Gravel                                                NaN
            Sugar                                                 NaN
002be4f.jpg Fish    233813 878 235213 878 236613 878 238010 881 23...
            Flower  1339279 519 1340679 519 1342079 519 1343479 51...
            Gravel                                                NaN
            Sugar   67495 350 68895 350 70295 350 71695 350 73095 ...
0031ae9.jpg Fish    3510 690 4910 690 6310 690 7710 690 9110 690 1...
            Flower  2047 703 3447 703 4847 703 6247 703 7647 703 9...

                                                  Label_EncodedPixels
img         cat
0011165.jpg Fish    (Fish, 264918 937 266318 937 267718 937 269118...
            Flower  (Flower, 1355565 1002 1356965 1002 1358365 100...
            Gravel                                      (Gravel, nan)
            Sugar                                        (Sugar, nan)
002be4f.jpg Fish    (Fish, 233813 878 235213 878 236613 878 238010...
            Flower  (Flower, 1339279 519 1340679 519 1342079 519 1...
            Gravel                                      (Gravel, nan)
            Sugar   (Sugar, 67495 350 68895 350 70295 350 71695 35...
0031ae9.jpg Fish    (Fish, 3510 690 4910 690 6310 690 7710 690 911...
            Flower  (Flower, 2047 703 3447 703 4847 703 6247 703 7...

In [76]:
def DecodePxel(x):
    x

SyntaxError: ignored

In [74]:
img_series.unique()

array(['0011165.jpg', '002be4f.jpg', '0031ae9.jpg', ..., 'ffd3dfb.jpg',
       'ffd6680.jpg', 'ffea4f4.jpg'], dtype=object)